<form action="/notes/new" method="post" id="create_note">
  Note Title: <input name="title" type="text" placeholder="Title" required><br>
  
  Note Message: <textarea rows="7" cols="50" input name="message" placeholder="message" required></textarea><br>

  <input type="submit" value="Submit">
</form>