<div id="form-messages">
  
</div>

<form id="ajax-contact" method="post" action="/notes/new">
  <div class="field">
      <label for="title">Note Title: </label>
      <input type="text" id="title" name="title" required>
  </div>

  <div class="field">
      <label for="message">Note Message: </label>
      <textarea id="message" name="message" required></textarea>
  </div>

  <div class="field">
      <button type="submit">Create Note</button>
  </div>
</form>