<div class="container">
<h1>Create a Note</h1><br>
<hr></hr>

  <form action="/notes" method="note" id="create_note">
    Note Title: <input name="title" type="text" placeholder="Title" required><br>
    
    Note Message: <textarea rows="7" cols="50" input name="message" placeholder="message" required></textarea><br>
    
    <input type="submit" value="Submit">
  </form>
  <hr></hr>
  <a href="/">Home Page</a>
</div>